.new_note_button {
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color3);
}

.plus_icon {
    width: 30px;
}

.new_note_button:hover {
    cursor: pointer;
}